<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/97723eacb7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.typekit.net/ehw4lks.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">      
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="shortcut icon" type="image/png" href="/img/site/favicon.png" />
    <title>GEODE</title>
</head>
<body>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-style navbar-bg fixed-top">
        <a class="navbar-brand" href="/"><img src="/img/site/geode.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <div id="navProjectBorder" class="nav-link-border"><a id="navProjectLink" class="nav-link d-flex align-items-center" href="/projects">Projects</a></div>
                </li>
                <li class="nav-item">
                    <div id="navIllustrationBorder" class="nav-link-border"><a id="navIllustrationLink" class="nav-link d-flex align-items-center" href="/illustration">Illustration</a></div>
                </li>
                <li class="nav-item">
                    <div id="navPhotographyBorder" class="nav-link-border"><a id="navPhotographyLink" class="nav-link d-flex align-items-center" href="/photography">Photography</a></div>
                </li>
                <li class="nav-item">
                    <div id="navWebAppBorder" class="nav-link-border"><a id="navWebAppLink" class="nav-link d-flex align-items-center" href="/webapps">Web Apps</a></div>
                </li>
                <li class="nav-item">
                    <div id="navDigitalBorder" class="nav-link-border"><a id="navDigitalLink" class="nav-link d-flex align-items-center" href="/digital">Digital</a></div>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
                <!-- <span class="navbar-portfolio-paren">( </span><span class="navbar-portfolio-label">Portfolio of James Bernhardt</span><span class="navbar-portfolio-paren"> )</span> </span> -->
            </ul>
        </div>
    </nav>