<% include ./partials/header.ejs %>

<section class="content">
        <div class="row justify-content-center">
            <div class="col-lg col-md d-sm-none"></div>

            <div class="col-lg-10 col-md col-sm">
                <div class="d-flex row justify-content-center pt-5">
                    <div class="jumbotron text-white" style="height: 25rem; width: 65rem; background-color: rgb(10, 14, 20);">
                        <h1>LANDING PAGE</h1>
                        <h1>UNDER CONSTRUCTION</h1>
                        <p>Greetings and welcome!</p>
                        <ul>
                            <li>
                                <a href="/digital">Digital</a>
                            </li>
                            <li>
                                <a href="/illustration">Illustration</a>
                            </li>
                            <li>
                                <a href="/photography">Photography</a>
                            </li>
                            <li>
                                <a href="/projects">Projects</a>
                            </li>
                            <li>
                                <a href="/webapps">Web Apps</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="index-padding-bottom"></div>
            </div>

            <div class="col-lg col-md d-sm-none"></div>
        </div>

</section>



<% include ./partials/footer.ejs %>