<% include ./partials/header.ejs %>

<h1>INDEX</h1>

<a href="digital/">digital</a>
<a href="illustration/">illustration</a>
<a href="photography/">photography</a>
<a href="projects/">projects</a>
<a href="webapps/">webapps</a>

<a href="/">GO HOME</a>


<% include ./partials/footer.ejs %>